.App {
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(71, 71, 71);
  border-radius: 25px;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-menu {
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(71, 71, 71);
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Coin-record {
  width: 300px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  margin: 10px;
  border-radius: 25px;
  padding: 5px;
}

.Coin-record:hover {
  border-color: rgb(71, 71, 71);
}

.Coin-name {
  background-color: rgb(158, 180, 153);
  width: 286px;
  border-radius: 25px;
  padding-left: 10px;
  color: rgb(49, 56, 48);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
